body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

/* ____________________________________________ Header Part __________________________________________ */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 30px;
    align-items: center;
}

.sectionsList {
    display: flex;
}

.sectionItem{
    margin-left: 46px;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-right: 90px;
}

.iconImages {
    width: 24px;
    height: 24px;
    margin-left: 1vw;
}


/* ____________________________________________ Seacrh Section Part __________________________________________ */

.search {
    background-color: #0052CC;
    width: 100vw;
    height: 4vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ____________________________________________ main Section Part __________________________________________ */

.MainSection {
    margin-top: 84px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vw;
}

.title {
    align-items: center;
}

.allCards {
    margin-top: 85px;
    display: flex;
    flex-direction: row;
}

.card {
    margin-right: 80px;
    margin-left: 80px;
}

.nameAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: large;
    font-weight: bold;
}

.price{
    font-size: 14px;
}

.added {
    font-size: 12px;
    color: #6A6A6A;
}

.seeMore{
    font-size: 12px;
    font-weight: bold;
}

.moreInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sales{
    font-size: small;
}